.feature-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 840px;
  margin: 0 auto;
}

.feature-items div {
  margin: 19px;
}

div.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1615px;
  margin: 0 auto;
}

.row-content {
  width: 30%;
  margin: 0 25px;
  text-align: center;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 0.05em;
  color: #e97770;
  margin: 0 0 0.75em 0;
}

@media screen and (min-width: 737px) and (max-width: 1600px) {
  .feature-items {
    width: 840px;
  }

  div.row {
    width: 1052px
  }

  .row-content {
    margin: 0 15px;
  }

  #header-wrapper {
    height: 550px;
  }
}

@media screen and (max-width: 736px) {
  .feature-items {
    width: 400px;
  }

  div.row {
    width: 90%;
  }

  .row-content {
    width: 100%;
  }

  #header-wrapper {
    background-image: url("http://res.cloudinary.com/dptviwjop/image/upload/c_scale,w_810/v1452623029/grey-wall-full-hd-by-lars-fredriksson-black-1259964_eqo1e9.jpg");
    background-position: 50% 50%;
    position: relative;
    /*padding: 12em 0;*/
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

  }
}
